/* body {
  background-color: #192231;
  font-family: Kumbh Sans;
  font-weight: 700;
} */

/* div {
  background-color: #192231;
  font-family: Roboto;
  color: #98878f;
  margin-left: auto;
  margin-right: auto;
} */

/* div.navigation {
  background-color: #031424;
  font-family: Roboto;
  color: #98878f;
}

a {
  color: #98878f;
} */

/* font-family: "Kumbh Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif; */
