.Navigation {
  background-color: #22252c;
  font-family: Roboto;
  color: #f4f4f4;
}
.Navigation.navbar.navbar-expand-lg.navbar-light {
  color: #f4f4f4;
  font-family: Roboto;
}

.navbar-light .navbar-brand {
  color: #f4f4f4;
  font-family: Roboto;
}

.navbar-light .navbar-nav .nav-link {
  color: #f4f4f4;
  font-family: Roboto;
}

.nav-link {
  color: #f4f4f4;
  font-family: Roboto;
}

.active.nav-link {
  color: #f4f4f4;
  font-family: Roboto;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  font-family: Roboto;
  color: #f4f4f4;
  font-weight: 700;
}

#secondaryNavigation .activen.nav-link {
  color: #22252c;
  font-family: Roboto;
  font-weight: 700;
}

.Brand {
  font-family: Roboto;
  color: #f4f4f4;
  font-weight: 700;
}

.btn-primary {
  background-color: #f4f4f4;
  color: #22252c;
  border-color: #f4f4f4;
  font-family: Roboto;
}

#favorite {
  background-color: #22252c;
  color: #f4f4f4;
  border-color: #22252c;
  font-family: Roboto;
}

/* .articleCards {
  height: 10rem;
  width: 20rem;
} */
/* article */
div#articles {
  /* background-color:; */
  font-family: Roboto;
  display: flex;
  padding-top: 80px;
  background: #f4f4f4;
  border: #22252c;
}
.card-columns .card {
  margin-top: 2rem;
  align-items: center;
  /* height: 20; */
}

.card {
  color: #22252c;
  font-family: Kumbh Sans;
}

image.card-image-top {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 100px;
}

div.text-center.card-title.h5 {
  color: #22252c;
}

p.card-text {
  overflow: hidden;
  transition: max-height 0.1s ease;
  font-family: Roboto;
}

form#login_form {
  padding: 80px;
}

/* Search Bar */

nav.Navigation.navbar.navbar-expand-lg.navbar-light {
  padding: 30px;
}

div.justify-content-center.nav {
  padding: 50px;
  border-bottom-style: solid;
  color: #e14658;
  font-family: Roboto;
}

a.nav-link {
  color: #22252c;
  font-family: Roboto;
  font-size: large;
}

a.active.nav-link {
  color: #e14658;
  font-family: Roboto;
  font-size: large;
}

/* Cards */

.card-footer {
  border-bottom-style: solid;
  border: #22252c;
  font-family: Roboto;
}

div.jumbotron.jumbotron-fluid {
  align-items: center;
  background-color: #f4f4f4;
  color: #22252c;
  font-family: Roboto;
}

/* body {
  background-color: #cccbc6;
  font-family: Kumbh Sans;
  font-weight: 700;
} */

/* div {
  background-color: #192231;
  font-family: Roboto;
  color: #98878f;
  margin-left: auto;
  margin-right: auto;
} */

/* div.navigation {
  background-color: #031424;
  font-family: Roboto;
  color: #98878f;
}


a {
  color: #98878f;
} */

/* font-family: "Kumbh Sans", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif; */
