{% extends 'base.html' %}
{% block title %}News Home!{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <div>

    {% for article in articles %}

    <a href='{{ article["url"] }}'>
    <h2> News:  {{ article["title"] }}  </h2>

    

    <h3> Written by:  {{ article["author"] }} </h3>
    <h4> Published: {{ article["publishedAt"] }} </h4>

    </a>

    <img src={{ article["urlToImage"] }}/>
  </a>

    <p> Description  {{ article["description"] }} </p>
    {% endfor %}

  </div>
  
{% endblock %}



