{% extends 'base.html' %}

  {% block content %}

    <div class="topnav">
      <a href="templates/homepage.html">News</a>
      <a href="profile.html">Profile</a>
      <form id="search_form" method="POST">
        <input id="topic_keyword" type="text" placeholder="search topics" />
        <button type="submit">Search</button>
      </form>
    </div>

    <div id="news">
      <p>Loading...</p>
     
    </div>

  <script src="/static/js/home.js"></script>
  <script src="/static/js/search.js"></script>
  <script src="/static/js/save.js"></script>
  
  
  {% endblock %}
  





  

