<!DOCTYPE html>
<html>
  <head>
    <script
      crossorigin
      src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react@16/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-router@5.2.0/umd/react-router.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-router-bootstrap@0.25.0/lib/ReactRouterBootstrap.min.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/newssite.css" />
    <link rel="stylesheet" href="/static/css/sharebuttons.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Montserrat&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.js"
      crossorigin
    ></script>
  </head>
  <body>
    <!-- <header>Mindful News</header> -->
    <div id="root"></div>

    <script src="/static/js/root.jsx" type="text/jsx"></script>
  </body>
</html>
